body {
	background-color: teal;
	font-family: 'News Cycle', sans-serif;
	font-weight: bold;
	text-shadow: 1px 1px 2px black;
	color: white;
}

form {
	text-align: center;
	height: 45px;
}

input, button {
	font-size: 24px;
}

#current-weather {
	height: 400px;
	width: 100vw;
	background-color: navy;
	display: flex;
	flex-flow: column;
	text-align: center;
	justify-content: space-between;
}

#current-weather-photo {
	height: 200px;
	display: block;
	margin: auto;
}

#city-name {
	font-size: 40px;
}

#five-day-forecast {
	width: 100vw;
	height: 150px;
	background-color: lightgreen;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}

#day1-info, #day2-info, #day3-info, #day4-info, #day5-info, #day6-info {
	text-align: center;
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: space-between;
	width: 20%;
	border: 1px solid gray;
}

#day1-temps, #day2-temps, #day3-temps, #day4-temps, #day5-temps, #day6-temps {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.pictures {
	display: flex;
	justify-content: center;
	align-content: center;
}